#cloud-config <hostname>
# cloud-init devel schema --config-file myconfig.yaml to verify

package_update: true
package_upgrade: true
packages:
  - dnsutils
  - net-tools
  - curl
  - wget
  - git

users:
  - name: insy
    groups: sudo
    shell: /usr/bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL # Allow any operations using sudo
    gecos: "Admin user created by cloud-init"
    ssh_authorized_keys:
      - ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFI7+bAmoBNcITqKlmCZIPuN1LY7gL3ejUfL5LDl9nNZEx9SQmNVpRqDEJUbERGQ43B/VdARwyw8fW75j633dFI= switch_engines_insy@secretive.WALL-E.local
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGrSzwPD9dq7Z10/MmKB/HWGObftj02F9FsdKN5QqLUG lecturer@insy-eval

write_files:
  - path: /etc/apt/apt.conf.d/50unattended-upgrades
    content: |
      Unattended-Upgrade::Allowed-Origins {
        "${distro_id}:${distro_codename}";
        "${distro_id}:${distro_codename}-security";
        "${distro_id}ESMApps:${distro_codename}-apps-security";
        "${distro_id}ESM:${distro_codename}-infra-security";
        "${distro_id}:${distro_codename}-updates";
        "${distro_id}:${distro_codename}-proposed";
        "${distro_id}:${distro_codename}-backports";
      };
      Unattended-Upgrade::DevRelease "auto";
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Automatic-Reboot "true";
      Unattended-Upgrade::Automatic-Reboot-Time "23:00";
      Unattended-Upgrade::SyslogEnable "true";
runcmd:
  - systemctl enable --now unattended-upgrades.service
